[submodule "beaconizer"]
	path = beaconizer
	url = https://github.com/mcupak/beaconizer.git
[submodule "beacon-of-beacons"]
	path = beacon-of-beacons
	url = https://github.com/mcupak/beacon-of-beacons.git
