<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>your_user</username>
      <password>your_password</password>
      <url>https://oss.sonatype.org/</url>
    </server>
  </servers>
    <profiles>
      <profile>
        <id>ossrh</id>
        <activation>
          <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
          <gpg.executable>gpg2</gpg.executable>
          <gpg.passphrase>your_gpg_public_key_passphrase</gpg.passphrase>
        </properties>
      </profile>
    </profiles>
</settings>
